@model LigaPrvaka.ModelEF.Igraci

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Igraci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timovi.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timovi.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKIgracID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
