@model LigaPrvaka.ModelEF.Utakmouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utakmice</h4>
    
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Domaci:")
            </dt>

            <dd>
                @Html.Action("IgraciTima", "Igracis", new { TimID = Model.Domaci })
            </dd>

            <dt>
                @Html.DisplayName("Gosti:")
            </dt>

            <dd>
                @Html.Action("IgraciTima", "Igracis", new { TimID = Model.Gosti })
            </dd>


        </dl>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Domaci")
            </th>

            <th>
                @Html.DisplayName("Gosti")
            </th>

        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Br_golova_d)
                @Html.Action("IgraciTima", "Igracis", new { TimID = Model.Domaci })
            </td>
            <td>
                @Html.DisplayFor(model => model.Br_golova_g)
                @Html.Action("IgraciTima", "Igracis", new { TimID = Model.Gosti })
            </td>

        </tr>
    </table>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PKUtakmicaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
