@model LigaPrvaka.ModelEF.Utakmouse

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Utakmouse</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PKUtakmicaID)

        <div class="form-group">
            @Html.LabelFor(model => model.Domaci, "Domaci", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Domaci", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Domaci, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gosti, "Gosti", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Gosti", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Gosti, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Br_golova_d, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Br_golova_d, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Br_golova_d, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Br_golova_g, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Br_golova_g, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Br_golova_g, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
