@model IEnumerable<LigaPrvaka.ModelEF.Utakmouse>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Domaci")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Br_golova_d)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Br_golova_g)

        </th>
        <th>
            @Html.DisplayName("Gosti")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timovi.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Br_golova_d)
            </td>
            <td>
                @Html.DisplayName(":")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Br_golova_g)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timovi1.Naziv)
            </td>
            <td>               
                @Html.ActionLink("Details", "Details", new { id = item.PKUtakmicaID })              
            </td>
        </tr>
    }

</table>
